In [1]:
import pandas as pd

In [2]:
matches = "/Users/nico_marais/code/Projects/cric_predict/data/matches.csv"
deliveries = "/Users/nico_marais/code/Projects/cric_predict/data/deliveries.csv"

In [3]:
matches_data = pd.read_csv(matches)
matches_data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
matches_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [5]:
deliveries_data = pd.read_csv(deliveries)
deliveries_data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
deliveries_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [7]:
combined_df = pd.merge(matches_data, deliveries_data, how="inner", left_on="id", right_on="match_id")

In [8]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179078 entries, 0 to 179077
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                179078 non-null  int64
 1   season            179078 non-null  int64
 2   city              177378 non-null  object
 3   date              179078 non-null  object
 4   team1             179078 non-null  object
 5   team2             179078 non-null  object
 6   toss_winner       179078 non-null  object
 7   toss_decision     179078 non-null  object
 8   result            179078 non-null  object
 9   dl_applied        179078 non-null  int64
 10  winner            178706 non-null  object
 11  win_by_runs       179078 non-null  int64
 12  win_by_wickets    179078 non-null  int64
 13  player_of_match   178706 non-null  object
 14  venue             179078 non-null  object
 15  umpire1           178578 non-null  object
 16  umpire2           178578 non-null  object
 17  umpire3           28366 non-null   object
 18  match_id          179078 non-null  int64
 19  inning            179078 non-null  int64
 20  batting_team      179078 non-null  object
 21  bowling_team      179078 non-null  object
 22  over              179078 non-null  int64
 23  ball              179078 non-null  int64
 24  batsman           179078 non-null  object
 25  non_striker       179078 non-null  object
 26  bowler            179078 non-null  object
 27  is_super_over     179078 non-null  int64
 28  wide_runs         179078 non-null  int64
 29  bye_runs          179078 non-null  int64
 30  legbye_runs       179078 non-null  int64
 31  noball_runs       179078 non-null  int64
 32  penalty_runs      179078 non-null  int64
 33  batsman_runs      179078 non-null  int64
 34  extra_runs        179078 non-null  int64
 35  total_runs        179078 non-null  int64
 36  player_dismissed  8834 non-null    object
 37  dismissal_kind    8834 non-null    object
 38  fielder           6448 non-null    object
dtypes: int64(18), object(21)
memory usage: 54.7+ MB

In [24]:
columns_to_drop = ["fielder", "dismissal_kind", "extra_runs", "batsman_runs",
                  "penalty_runs", "noball_runs", "legbye_runs", "bye_runs", "wide_runs",
                   "is_super_over", "bowler", "non_striker", "batsman", "bowling_team", "batting_team",
                  "match_id", "umpire3", "umpire2", "umpire1", "player_of_match", "winner", "dl_applied",
                  "result", "toss_decision", "toss_winner", "team1", "team2"]

In [25]:
data_df = combined_df.drop(columns_to_drop, axis=1)

In [26]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179078 entries, 0 to 179077
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                179078 non-null  int64
 1   season            179078 non-null  int64
 2   city              177378 non-null  object
 3   date              179078 non-null  object
 4   win_by_runs       179078 non-null  int64
 5   win_by_wickets    179078 non-null  int64
 6   venue             179078 non-null  object
 7   inning            179078 non-null  int64
 8   over              179078 non-null  int64
 9   ball              179078 non-null  int64
 10  total_runs        179078 non-null  int64
 11  player_dismissed  8834 non-null    object
dtypes: int64(8), object(4)
memory usage: 17.8+ MB

In [28]:
data_df.head(100)

,id,season,city,date,win_by_runs,win_by_wickets,venue,inning,over,ball,total_runs,player_dismissed
0,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,1,1,0,NaN
1,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,1,2,0,NaN
2,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,1,3,4,NaN
3,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,1,4,0,NaN
4,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,1,5,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,16,3,1,NaN
96,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,16,4,1,NaN
97,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,16,5,1,NaN
98,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,16,6,1,NaN
99,1,2017,Hyderabad,2017-04-05,35,0,"Rajiv Gandhi International Stadium, Uppal",1,17,1,1,NaN

In [13]:
print(sorted(data_df["venue"].unique()))

['ACA-VDCA Stadium', 'Barabati Stadium', 'Brabourne Stadium', 'Buffalo Park', 'De Beers Diamond Oval', 'Dr DY Patil Sports Academy', 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium', 'Dubai International Cricket Stadium', 'Eden Gardens', 'Feroz Shah Kotla', 'Feroz Shah Kotla Ground', 'Green Park', 'Himachal Pradesh Cricket Association Stadium', 'Holkar Cricket Stadium', 'IS Bindra Stadium', 'JSCA International Stadium Complex', 'Kingsmead', 'M Chinnaswamy Stadium', 'M. A. Chidambaram Stadium', 'M. Chinnaswamy Stadium', 'MA Chidambaram Stadium, Chepauk', 'Maharashtra Cricket Association Stadium', 'Nehru Stadium', 'New Wanderers Stadium', 'Newlands', 'OUTsurance Oval', 'Punjab Cricket Association IS Bindra Stadium, Mohali', 'Punjab Cricket Association Stadium, Mohali', 'Rajiv Gandhi International Stadium, Uppal', 'Rajiv Gandhi Intl. Cricket Stadium', 'Sardar Patel Stadium, Motera', 'Saurashtra Cricket Association Stadium', 'Sawai Mansingh Stadium', 'Shaheed Veer Narayan Singh International Stadium', 'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium', "St George's Park", 'Subrata Roy Sahara Stadium', 'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha', 'Wankhede Stadium']

In [37]:
runs = data_df.groupby(["id", "inning", "over"])["total_runs"].sum()
wickets = data_df.groupby(["id", "inning", "over"])["player_dismissed"].count()

In [38]:
wickets.head(50)

id  inning  over
1   1       1       0
            2       1
            3       0
            4       0
            5       0
            6       0
            7       0
            8       0
            9       0
            10      0
            11      1
            12      0
            13      0
            14      0
            15      0
            16      1
            17      0
            18      0
            19      1
            20      0
    2       1       0
            2       0
            3       0
            4       0
            5       0
            6       1
            7       1
            8       0
            9       0
            10      0
            11      0
            12      1
            13      1
            14      1
            15      0
            16      0
            17      1
            18      2
            19      1
            20      1
2   1       1       0
            2       0
            3       0
            4       0
            5       1
            6       0
            7       2
            8       0
            9       0
            10      0
Name: player_dismissed, dtype: int64

In [23]:
type(runs)

pandas.core.series.Series